<div [formGroup]="resumeForm">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar><mat-icon>pan_tool</mat-icon></div>
            <mat-card-title>{{ "app-text.skill-section-title" | translate }}</mat-card-title>
            <mat-card-subtitle>{{ "app-text.skill-section-subtitle" | translate }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div formArrayName="skillsList">
                <div *ngFor="let skill of skillsList.controls; let i = index" formGroupName="{{i}}">

                    <mat-card class="resume-content-card">
                        
                        <mat-card-title class="resume-card-title">
                            <mat-form-field appearance="standard">
                                <mat-label for="skillCategoryTitle">{{ "app-text.skill-category-title" | translate }}</mat-label>
                                <input matInput type="text" formControlName="skillCategoryTitle">
                            </mat-form-field>
                        </mat-card-title>

                        <mat-card-content>
                            <div formArrayName="items">
                                <mat-form-field appearance="standard" class="skill-items">

                                    <mat-chip-list #chipList class="skillsList">
                                        <mat-chip *ngFor="let skillItem of getSkillItemList(i).controls; let j = index"
                                                [selectable]="selectable"
                                                [removable]="removable" 
                                                (removed)="callParentItemRemoved(['skillsList', i, j])">
                                                    {{ skillItem.value }}
                                                <input matInput type="text"
                                                [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="callParentItemAdded(['skillsList',i, item])"
                                                formControlName="{{ j }}">
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        
                                    </mat-chip-list>

                                </mat-form-field>
                            </div>
                        </mat-card-content>

                        <mat-card-footer>
                            <button type="button" mat-icon-button color="primary" (click)="removeSkill(i)"><mat-icon>delete</mat-icon></button>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>

        <button type="button" mat-raised-button color="primary" (click)="addInputSkill()"><mat-icon>add_circle</mat-icon></button>

    </mat-card>
</div>