<div [formGroup]="resumeForm">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar><mat-icon>pan_tool</mat-icon></div>
            <mat-card-title>{{ "app-text.skill-section-title" | translate }}</mat-card-title>
            <mat-card-subtitle>{{ "app-text.skill-section-subtitle" | translate }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div formArrayName="skillsList">
                <div *ngFor="let skill of skillsList.controls; let i = index" formGroupName="{{i}}">

                    <mat-card class="resume-content-card">
                        
                        <mat-card-title class="resume-card-title">
                            <mat-form-field appearance="standard">
                                <mat-label for="skillCategoryTitle">{{ "app-text.skill-category-title" | translate }}</mat-label>
                                <input matInput type="text" formControlName="skillCategoryTitle">
                            </mat-form-field>
                        </mat-card-title>

                        <mat-card-content>
                            <div formArrayName="items">
                                <ul style="display: inline-block; list-style: none;" class="skillsList">
                                    <div *ngFor="let skillItem of getSkillItemList(i).controls; let j = index">
                                        <li>
                                            <div class="row">
                                                <div class="col-9">
                                                    <mat-form-field appearance="standard">
                                                        <input matInput type="text" formControlName="{{j}}">
                                                    </mat-form-field>
                                                </div>
                                                <button class="delete-item-button" type="button" mat-mini-fab color="primary" (click)="callParentItemRemoved(['skillsList', i, j])"><mat-icon>clear</mat-icon></button>
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                                <button style="display: block;" type="button" mat-stroked-button color="primary" (click)="callParentItemAdded(['skillsList',i, item])">{{ "app-text.add-skill-item" | translate }}</button>
                            </div>
                        </mat-card-content>

                        <mat-card-footer>
                            <button type="button" mat-icon-button color="primary" (click)="removeSkill(i)"><mat-icon>delete</mat-icon></button>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>

        <button type="button" mat-raised-button color="primary" (click)="addInputSkill()"><mat-icon>add_circle</mat-icon></button>

    </mat-card>
</div>