    <div class="container-fluid wrapper">
            <div class="row">
                <div class="col-8">
                    <h1 class="fullname">{{ resumeData.fullname }}</h1>
                    <p class="resume-description">{{ resumeData.descriptionSentence }}</p>
                    <section class="useful-infos row">
        
                        <div class="col-6">
                            <div class="useful-info-item my-4">
                                <i class="useful-info-icon fas fa-phone-square-alt d-inline"></i>
                                <p class="useful-info-text d-inline">{{ resumeData.phone }}</p>
                            </div>
            
                            <div class="useful-info-item my-4">
                                <i class="useful-info-icon fab fa-linkedin d-inline"></i>
                                <p class="useful-info-text d-inline">{{ resumeData.personalLink }}</p>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="useful-info-item my-4">
                                <i class="useful-info-icon fas fa-at d-inline"></i>
                                <p class="useful-info-text d-inline">{{ resumeData.email }}</p>
                            </div>
            
                            <div class="useful-info-item my-4">
                                <i class="useful-info-icon fas fa-map-marked d-inline"></i>
                                <p class="useful-info-text d-inline">{{ resumeData.address }}</p>
                            </div>
                        </div>
        
                    </section>
                </div>
            
                <div class="col-4">
                    <div class="main-photo-container mx-auto">
                        <img class="main-photo" src="./../../assets/img/avatar.png" alt="photo-cv">
                    </div>
                </div>
            </div>

            <div class="resume-content row">
                <div class="col mr-5">
                    <section class="resume-section experience mr-20">

                        <div class="resume-section-title">
                            <h1>Expérience</h1>
                            <div class="underline"></div>
                        </div>
                    
                        <article class="resume-article">
                            <div class="experience-header">
                                <h2 class="experience-title mt-5">Développeur / Intégrateur Plateforme d'Intégration Continue</h2>
                                <h3 class="work-place">INRIA</h3>
                                <div class="date-range d-inline">
                                    <i class="useful-info-icon fas fa-calendar-alt"></i>
                                    <span class="experience-date-start">03/2018</span>
                                    <span class="date-separator">-</span>
                                    <span class="experience-date-end">10/2019</span>
                                </div>
                                <div class="work-address d-inline">
                                    <i class="useful-info-icon fas fa-map-marker-alt"></i>
                                    <span class="experience-work-address">Montbonnot Saint-Martin, France</span>
                                </div>
                                <p class="experience-work-place-description">Institut de recherche</p>
                            </div>
                            <div class="experience-content">
                                <ul class="experience-bulletpoints">
                                    <li class="experience-bulletpoint">Maintenance et évolution du portail d'Intégration Continue</li>
                                    <li class="experience-bulletpoint">Mise en place de tests unitaires et fonctionnels</li>
                                    <li class="experience-bulletpoint">Développement d'une API générique Cloud</li>
                                    <li class="experience-bulletpoint">Développement d'un Bundle Symfony Vmware pour l'Intégration Continue (API SOAP Vsphere)</li>
                                    <li class="experience-bulletpoint">Intégration d'un Cloud Dispatcher (API REST Cloudstack)</li>
                                    <li class="experience-bulletpoint">Patch du code source Cloudstack pour Mac OS</li>
                                    <li class="experience-bulletpoint">Support du service Applications de la DSI</li>

                                </ul>
                            </div>
                        </article>

                        <article class="resume-article experience">
                            <div class="experience-header">
                                <h2 class="experience-title mt-5">Administrateur / Développeur Cloud</h2>
                                <h3 class="work-place">Orange</h3>
                                <div class="date-range d-inline">
                                    <i class="useful-info-icon fas fa-calendar-alt"></i>
                                    <span class="experience-date-start">09/2014</span>
                                    <span class="date-separator">-</span>
                                    <span class="experience-date-end">08/2017</span>
                                </div>
                                <div class="work-address d-inline">
                                    <i class="useful-info-icon fas fa-map-marker-alt"></i>
                                    <span class="experience-work-address">Meylan, France</span>
                                </div>
                                <p class="work-place-description">Entreprise française de télécommunications</p>
                            </div>
                            <div class="experience-content">
                                <ul class="experience-bulletpoints">
                                    <li class="experience-bulletpoint">Administration d'une Platform-As-A-Service</li>
                                    <li class="experience-bulletpoint">Intégration au sein d'une équipe Agile</li>
                                    <li class="experience-bulletpoint">Travail en collaboration avec une division d'Orange Roumanie </li>
                                    <li class="experience-bulletpoint">Développement d'un portail web de documentation Wordpress</li>
                                    <li class="experience-bulletpoint">Mise en place d'une solution de datamining pour la plateforme (récupération de logs, filtrage des données, affichage graphique)</li>
                                    <li class="experience-bulletpoint">Développement d'une solution de facturation en Django/Python</li>
                                </ul>
                            </div>
                        </article>

                    </section>

                    <section class="resume-section">

                        <div class="resume-section-title">
                            <h1>Formation</h1>
                            <div class="underline"></div>
                        </div>

                        <article class="resume-article formation">
                            <div class="formation-header">
                                <h2 class="formation-title mt-5">Certification Javascript Algorithms & Data Structures</h2>
                                <h3 class="work-place"></h3>
                                <div class="date-range d-inline">
                                    <i class="useful-info-icon fas fa-calendar-alt"></i>
                                    <span class="formation-date-start">01/2020</span>
                                    <span class="date-separator">-</span>
                                    <span class="formation-date-end">03/2020</span>
                                </div>
                                <div class="work-address d-inline">
                                    <i class="useful-info-icon fas fa-map-marker-alt"></i>
                                    <span class="formation-work-address">FreeCodeCamp, France</span>
                                </div>
                            </div>  
                        </article>

                        <article class="resume-article formation">
                            <div class="formation-header">
                                <h2 class="formation-title mt-5">Diplôme d'ingénieur en Informatique et Mathématiques Appliquées</h2>
                                <h3 class="work-place">ENSIMAG</h3>
                                <div class="date-range d-inline">
                                    <i class="useful-info-icon fas fa-calendar-alt"></i>
                                    <span class="formation-date-start">09/2014</span>
                                    <span class="date-separator">-</span>
                                    <span class="formation-date-end">08/2017</span>
                                </div>
                                <div class="work-address d-inline">
                                    <i class="useful-info-icon fas fa-map-marker-alt"></i>
                                    <span class="formation-work-address">Saint-Martin d'Hères, France</span>
                                </div>
                            </div>  
                        </article>

                        <article class="resume-article formation">
                            <div class="formation-header">
                                <h2 class="formation-title mt-5">Diplôme universitaire de Technologie Informatique</h2>
                                <h3 class="work-place">IUT2</h3>
                                <div class="date-range d-inline">
                                    <i class="useful-info-icon fas fa-calendar-alt"></i>
                                    <span class="formation-date-start">09/2012</span>
                                    <span class="date-separator">-</span>
                                    <span class="formation-date-end">08/2014</span>
                                </div>
                                <div class="work-address d-inline">
                                    <i class="useful-info-icon fas fa-map-marker-alt"></i>
                                    <span class="formation-work-address">Grenoble, France</span>
                                </div>
                            </div>  
                        </article>

                    </section>
                </div>

                <div class="col mr-5">
                    <section class="resume-section">
                        
                        <div class="resume-section-title mb-5">
                            <h1>Langues</h1>
                            <div class="underline"></div>
                        </div>

                        <div class="resume-article languages d-inline">
                            <span class="language-name">Francais</span>
                            <span class="dot skilled"></span>
                            <span class="dot skilled"></span>
                            <span class="dot skilled"></span>
                            <span class="dot skilled"></span>
                            <span class="dot skilled"></span>
                        </div>

                        <div class="resume-article languages d-inline">
                            <span class="language-name">Anglais</span>
                            <span class="dot skilled"></span>
                            <span class="dot skilled"></span>
                            <span class="dot skilled"></span>
                            <span class="dot skilled"></span>
                            <span class="dot"></span>
                        </div>

                    </section>
        
                    <section class="resume-section">
                        <div class="resume-section-title">
                            <h1>Compétences</h1>
                            <div class="underline"></div>
                        </div>
                        
                        <div class="resume-article">
                            <h2 class="skills-title mt-5">Cloud, Conteneur et Serveur</h2>
                            <ul class="skill-list list-inline">
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Jenkins</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Docker</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Cloudstack</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Vmware Vsphere</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">NodeJS</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Apache</button></li>
                            </ul>
                        </div>
        
                        <div class="resume-article">
                            <h2 class="skills-title mt-5">Base de données</h2>
                            <ul class="skill-list list-inline">
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">MySQL</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">PostgreSQL</button></li>
                            </ul>
                        </div>
        
                        <div class="resume-article">
                            <h2 class="skills-title mt-5">Languages & Frameworks</h2>
                            <ul class="skill-list list-inline">
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Symfony/PHP</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Bash</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">C#</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Angular 8</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Angular 8</button></li>
                            </ul>
                        </div>

                        <div class="resume-article">
                            <h2 class="skills-title">Outils de développement</h2>
                            <ul class="skill-list list-inline">
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Git</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">VSCode</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">Jetbrains IDE</button></li>
                                <li class="skill-item list-inline-item"><button class="btn btn-primary">TDD</button></li>
                            </ul>
                        </div>

                    </section>
        
                    <section class="resume-section">
        
                        <div class="resume-section-title mb-5">
                            <h1>Passions</h1>
                            <div class="underline"></div>
                        </div>
                        
                        <div class="row">
                            <article class="resume-article col-6">
                                <h2 class="passion-title">Musique</h2>
                                <p class="passion-description">Choriste/soliste, pianiste, guitariste (Summum 2019 - Concert Franklin & Black Legends)</p>
                            </article>
            
                            <article class="resume-article col-6">
                                <h2 class="passion-title">Physiologie & Alimentation</h2>
                                <p class="passion-description"></p>
                            </article>
                        </div>
                        <div class="row">
                            <article class="resume-article col-6">
                                <h2 class="passion-title">Voyages</h2>
                                <p class="passion-description">Saint-Jacques de Compostelle</p>
                            </article>
            
                            <article class="resume-article col-6">
                                <h2 class="passion-title">Développement personnel</h2>
                                <p class="passion-description">Féru de découvertes du domaine !</p>
                            </article>
                        </div>
                        
                    </section>
                </div>
                

            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>