<div [formGroup]="resumeForm">
    <mat-card color="primary">
        <mat-card-header>
            <div mat-card-avatar><mat-icon>home</mat-icon></div>
            <mat-card-title>{{ "app-text.header-section-title" | translate }}</mat-card-title>
            <mat-card-subtitle>{{ "app-text.header-section-subtitle" | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="header-content">
    
            <div class="row">
    
                <div class="col-12">
                    <mat-form-field class="header-form-field" appearance="outline">
                        <mat-label for="fullname">
                            {{ "app-text.fullname" | translate }}
                        </mat-label>
                        <input matInput type="text" id="fullname" formControlName="fullname">
                    </mat-form-field>
        
                    <mat-form-field class="header-form-field" appearance="outline">
                        <mat-label for="descriptionSentence">
                            {{ "app-text.description-sentence" | translate }}
                        </mat-label>
                        <input matInput type="text" id="descriptionSentence" formControlName="descriptionSentence">
                    </mat-form-field>
            
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="header-form-field" appearance="outline">
                                <mat-label for="phone">
                                    {{ "app-text.phone-number" | translate }}
                                </mat-label>
                                <input matInput type="text" id="phone" formControlName="phone">
                            </mat-form-field>
                    
                            <mat-form-field class="header-form-field" appearance="outline">
                                <mat-label for="personalLink">
                                    {{ "app-text.personal-link" | translate }}
                                </mat-label>
                                <input matInput type="text" id="personalLink" formControlName="personalLink">
                            </mat-form-field>
                        </div>
                        
                        <div class="col-6">
                            <mat-form-field class="header-form-field" appearance="outline">
                                <mat-label for="email">
                                    {{ "app-text.email" | translate }}
                                </mat-label>
                                <input matInput type="text" id="email" formControlName="email">
                            </mat-form-field>
                    
                            <mat-form-field class="header-form-field" appearance="outline">
                                <mat-label for="address">
                                    {{ "app-text.address" | translate }}
                                </mat-label>
                                <input matInput type="text" id="address" formControlName="address">
                            </mat-form-field>
                        </div>
    
                    </div>
                    
                    <div style="margin: auto;">
                        <div class="profilePictureContainer">
                            <img *ngIf="profilePictureUrl" [src]="profilePictureUrl">
                            <button type="button" class="header-photo-button" mat-raised-button>
                                <label id="labelProfilePicture" for="profilePicture" class="btn btn-default">
                                    {{ "app-text.profile-picture-label" | translate }}
                                    <input type="file" id="profilePicture" style="display: none;" (change)="readProfilePictureUrl($event)">
                                    <input type="text" formControlName="profilePicture" style="display: none;">
                                </label>
                            </button>
                        </div>
                    </div>

                </div>
    
            </div>
    
        </mat-card-content>
    </mat-card> 
</div>