.profilePictureContainer > button {
    margin: auto;
}

.profilePictureContainer {
    display: block;
    text-align: center;
}

.mat-form-field {
    display: block;
}

.profilePictureContainer > img {
    width: 150px;
    margin-bottom: 20px;
}

.header-photo-button {
    display: block;
}