.mat-toolbar {
    font-family: Lobster, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.fullwidth {
    width: 100%;
}

#labelProfilePicture {
    padding-top:15px;
}

.mat-icon {
    font-size: 40px;
}

header {
    position: relative;
    height: 200px;
    overflow: hidden;
  }
  
  h1 {
    padding-top: 40px;
    font-family: Lobster, sans-serif;
    font-size: 77px;
    margin-left: 30px;
  }

  h2 {
      font-family: Lobster, sans-serif;
      margin-left: 70px;
      margin-top: 30px;
  }

  header h1, header h2 {
    position: relative;
    color: white;
  }

.defs-only {
    height: 0;
}

#iframe-preview-container {
    min-width: 500px;
    max-width: 768px;
    width: 500px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#iframe-preview-container.active {
    margin-right: -500px;
}

#resume-form.active, header.active {
    transition: all 0.3s;
    margin-right: 0;
}

#resume-form, header {
    transition: all 0.3s;
    margin-right: 500px;
}

@media (max-width: 768px) {
    #iframe-preview-container {
        margin-left: -250px;
    }
    #sidebar.iframe-preview-container {
        margin-left: 0;
    }
}

#generated-resume-iframe {
    width: 1000px;
    height: 200vh;

    -ms-zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}

#side-resume-preview-button {
    margin-left:500px;
}