
<div id="main-container">
    <nav class='nav-bar'>
        <ul id="menu">
            <li class="menu-li-item">
                <a href="/"><img id="main-logo" src="../../assets/img/logo.png" alt="ResumeBook"></a>
            </li>
            <li class="menu-li-item">
                <button class="menu-button-item">
                    <mat-icon class="menu-button-icon">insert_drive_file</mat-icon>
                    <h1>New Resume</h1>
                </button>
            </li>
            <li class="menu-li-item">
                <mat-form-field id="app-language-selector">
                    <mat-label><mat-icon style="font-size: 1.5rem;">language</mat-icon></mat-label>
                    <mat-select (selectionChange)="onLanguageChange()" [(value)]="appLanguageSelected" >
                        <mat-option value="en">English</mat-option>
                        <mat-option value="fr">French</mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
        </ul>   
    </nav>
    
    <div class="container">
        <div id="resume-container">
            <button id="toggleSidenav" (click)="toggleNav()"><mat-icon>menu</mat-icon></button>
    
            <form id="resume-form" [class.active]="isSideResumePreviewOpened" [formGroup]="resumeForm" (ngSubmit)="onSubmit()">
    
                <app-header 
                    [formBuilder]="formBuilder"
                    [resumeForm]="resumeForm">
                </app-header>
        
                <app-experience 
                    [formBuilder]="formBuilder" 
                    [resumeForm]="resumeForm" 
                    (itemAddedEvent)="addItemToCategory($event)"
                    (itemRemovedEvent)="removeItemFromCategory($event)">
                </app-experience>
        
                <app-education
                    [formBuilder]="formBuilder"
                    [resumeForm]="resumeForm">
                </app-education>
        
        
                <app-language
                    [formBuilder]="formBuilder"
                    [resumeForm]="resumeForm">
                </app-language>
        
                <app-skills
                    [formBuilder]="formBuilder"
                    [resumeForm]="resumeForm"
                    (itemAddedEvent)="addItemToCategory($event)"
                    (itemRemovedEvent)="removeItemFromCategory($event)">
                </app-skills>
        
                <app-hobby
                    [formBuilder]="formBuilder"
                    [resumeForm]="resumeForm">
                </app-hobby>
    
                <button mat-stroked-button color="primary" type="submit">{{ "app-text.button.generate-resume-label" | translate }}</button>
        
            </form>
        </div>
    
            <div id="preview-container">
        
                <div id="preview-iframe-container">
                    <iframe
                    allowfullscreen
                    id="preview-iframe"
                    [src]= "generatedResumeUrl | safeUrl">
                    </iframe>
                </div>

                <mat-form-field id="resume-template-selector">
                    <mat-label>Resume template</mat-label>
                    <mat-select [(value)]="generatedResumeUrl" >
                        <mat-option value="generated-resume">{{ "app-text.resume-preview-template.column" | translate }}</mat-option>
                        <mat-option value="resume-classic">{{ "app-text.resume-preview-template.classic" | translate }}</mat-option>
                        <mat-option value="resume-content-aside">{{ "app-text.resume-preview-template.aside" | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div id="resume-button-list">
            
                    <!--
                    <div>
                        <p>{{ resumeForm.value | json }}</p>
                    </div>

                    <button class="btn btn-primary" type="button" (click)="resetForm()">Reset form</button>
                    -->

                    <button title='{{ "app-text.button.import-json-label" | translate }}' class="resume-button" type="button" mat-stroked-button color="primary">
                        <label id="labelImportJSON" for="importJSON" style="margin: auto">
                            <span class="resume-button-label">{{ "app-text.button.import-json-label" | translate }}</span>
                            <input type="file" id="importJSON" style="display: none;" onclick="value = null" (change)="importJSON($event)">
                            <i class="fas fa-file-import resume-button-icon"></i>
                        </label>
                    </button>
            
                    <button title='{{ "app-text.button.clear-resume-label" | translate }}' class="resume-button" type="button" mat-stroked-button color="primary" (click)="resetForm()">
                        <span class="resume-button-label">{{ "app-text.button.clear-resume-label" | translate }}</span>
                        <i class="fas fa-eraser resume-button-icon"></i>
                    </button>
            
                    <a title='{{ "app-text.button.export-json-label" | translate }}' class="resume-button" mat-stroked-button color="primary" (click)="downloadResumeAsJSON()" [href]="jsonFileURL | safeUrl" download="resume.json">
                        <span class="resume-button-label">{{ "app-text.button.export-json-label" | translate }}</span>
                        <i class="fas fa-file-export resume-button-icon"></i>
                    </a>

                    <button title='Preview' id="preview-button" class="resume-button" mat-stroked-button color="primary" type="button">
                        <i class="far fa-eye"></i>
                    </button>
            
                </div>

            </div>
            
    </div>

</div>
   