@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.mlr-2vw {
    margin-left: 2vw;
    margin-right: 2vw; 
}

#main-container {
    // CSS custom properties
    --speed-transition: all 0.3s;
    --side-preview-width: 500px;
    --font-family: 'Lobster', sans-serif;
    --primary-color: #7386D5;
    --nav-bar-height: 100px;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr;

    .nav-bar {
        width: 250px;
        min-width: 225px;
        box-shadow: 5px 5px 10px grey;
        position: relative;
    
        #menu {
            position: fixed;
            top: 0;
            left: 25px;
            font-family: 'Lobster', sans-serif;
            list-style-type: none;
            display: block;
            padding: 0;

            #main-logo {
                display: block;
                margin: 0;
                width: 200px;
                height: 200px;
            }

            #app-language-selector {
                display: block;
                margin: auto;
                width: 50%;
                line-height: 30px;
                text-align: center;
            }
        
            .menu-li-item {
                text-align: center;
                margin-bottom: 2rem;
    
                .menu-button-item {
                    border: none;
                    background-color: white;
            
                    h1 {
                        font-size: 1.5rem;
                        text-align: center;
                    }
            
                    mat-icon {
                        font-size: 5rem;
                        text-align: center;
                        width: 100%;
                        color: #7386D5;
                        transition: transform 0.3s;
                    }
            
                    mat-icon:hover {
                        transform: scale(1.1);
                    }
            
                }
    
            }    
        
        }
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        #preview-container, #resume-container {
            width: 50%;
        }

        #preview-container {

            display: flex;
            flex-direction: column;
            align-items: center;

            #preview-iframe-container {
                width: 100%;
                overflow-y: visible;
                position: sticky;
                top: 1rem;
                height: 100vh;
                margin-top: 1rem;
                padding-top: 70%;
                margin-left: 13%;
                box-shadow: 5px 5px 15px grey, -5px 5px 15px grey;
            
                -ms-zoom: 0.85;
                -moz-transform: scale(0.85);
                -moz-transform-origin: 0 0;
                -o-transform: scale(0.85);
                -o-transform-origin: 0 0;
                -webkit-transform: scale(0.85);
                -webkit-transform-origin: 0 0;

                .main-resume-container {
                    position: absolute;
                    width: 180%;
                    height: 180%;
                    left: 0;
                    top: 0;
                    border: 0;

                    -ms-zoom: 0.5;
                    -moz-transform: scale(0.5);
                    -moz-transform-origin: 0 0;
                    -o-transform: scale(0.5);
                    -o-transform-origin: 0 0;
                    -webkit-transform: scale(0.5);
                    -webkit-transform-origin: 0 0;
                }
            }

            #resume-button-list {

                position: fixed;
                bottom: 0.5rem;

                .resume-button {
                    margin: 0 0.5rem;

                    .resume-button-icon {
                        display: none;
                        cursor: pointer;
                    }
                }

                #preview-button {
                    display: none;
                }
            }

            #resume-template-selector {
                position: fixed;
                bottom: 2rem;
            }

        }

    }

    h2 {
        font-family: var(--font-family);
    }

}

@media (max-width: 1200px) {

    #main-container {
        display: flex;
        flex-direction: column;

        .nav-bar {
            width: 100vw;
            position: fixed;
            top: 0;
            background: white;
            z-index: 2;

            #menu {
                position: relative;
                top: 25px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: var(--nav-bar-height);

                .menu-li-item {
                    h1 {
                        display: none;
                    }
                }

                .menu-button-item {
                    mat-icon {
                        font-size: 3rem;
                        text-align: center;
                        width: 100%;
                        color: #7386D5;
                        transition: transform 0.3s;
                    }

                }
            }
        }

        .container {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
    
            #preview-container {
                
                width: 10%;
                display: flex;
                flex-direction: column;
                position: relative;
    
                #resume-template-selector {
                    width: 10%;
                }
    
                #resume-button-list {
                    position: fixed;
                    top: 30%;
                    height: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    .resume-button {
                        width: fit-content;
    
                        .resume-button-label {
                            display: none;
                        }
    
                        .resume-button-icon {
                            display: inline;
                        }
                    }

                    #preview-button {
                        display: inline;
                    }
                }
                        
                #preview-iframe-container {
                    display: none;
                }

                #preview-iframe-container.lightbox-preview-iframe-container {
                    content: "";
                    position: fixed;
                    z-index: 999;
                    width: 200vh;
                    height: 120%;
                    text-align: center;
                    top: -16px;
                    left: -150px;
                    background: rgba(0,0,0,0.8);

                    #preview-iframe {
                        max-width: 70%;
                        max-height: 168%;
                        margin: 2% auto;
                    }
                }

                .lightbox-preview-iframe-container:target {
                    /** Remove default browser outline */
                    outline: none;

                    /** Unhide lightbox **/
                    display: block;
                }
        
            }
        
            #resume-container {
                width: 90%;
                margin-top: calc( var(--nav-bar-height) + 50px);
    
                #resume-form {
                    max-width: 90%;
                } 
            }
        }
    }

}

@media (max-width: 550px) {

    #main-container {

        .nav-bar {
            .menu-button-item {
                mat-icon {
                    display: none;
                }
            }
        }
    
        #resume-container {
            width: 80%;
        }
    
        .container {
            #preview-container {
                width: 10%;
        
                #resume-template-selector {
                    position: relative;
                }
            }
        }

    }
    
}

@media screen, print {
    @page {
        size: 21cm 29.7cm;
    }

    .main-resume-container {
        font-size: 14px;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 300;
        margin: 5%;
    }
    
    .header {
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100%;
        margin-bottom: 4vh;
    
        #fullname {
            font-size: 36px;
            font-weight: bold;
        }
    
        #resume-description {
            font-size: 24px;
        }
    
    }
    
    #useful-infos {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 25% 25%;
    }
    
    .useful-info-icon, .useful-info-text, .date-range, .work-address, .skill-item, .languages-list {
        display: inline;
    }
    
    #main-photo-container {
        justify-self: center;
        border: black solid;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        padding: 10px;
        margin: auto;
    }
    
    #main-photo {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    
    #resume-content {
        column-count: 2;
        column-fill: balance;
        width: 100%;
        height: 100%;
    }
    
    .resume-section {
        height: min-content;
        // break-inside: avoid-column;
        margin-bottom: 2vh;
    
        h1 {
            font-size: 27px;
        }
    
        h2 {
            font-size: 21px;
            margin-top: 2vh;
        }
    
        h3 {
            font-size: 17px;
        }
    }
    
    .underline {
        width: 100%;
        border-bottom: 3px solid black;
    }
    
    .resume-section-title > h1 {
        text-transform: uppercase;
        font-weight: 900;
    }
    
    #experience-bulletpoints {
        width: 80%;
    }
    
    .useful-info-icon, .resume-description, .work-place {
        color: cornflowerblue;
    }
    
    .dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
    
    .dot.skilled {
        background-color: cornflowerblue;
    }
    
    .experience-title, .formation-title, .skills-title {
        font-weight: 400;
    }
    
    .date-range {
        margin-right: 10px;
    }
    
    .button {
        -webkit-print-color-adjust: exact;
        background-color: cornflowerblue;
        border: none;
        border-radius: 4%;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    .hobbies-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
    .skill-list {
        margin-top: 20px;
        list-style-type: none;
        display: contents;
    }
    
    .skill-list > div {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .button3 {
        padding: 0.3em 1.2em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 2em;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        color: white;
        background-color: cornflowerblue;
        text-align: center;
        box-sizing: border-box;
        }
        @media all and (max-width:30em){
            .button3 {
                display: block;
                margin: 0.2em auto;
            }
        }
    
    .fas, .fa, .fab {
        margin: 0 2px;
    }

    #language-title {
        margin-bottom: 20px;
    }

    .languages-list {
        margin-right: 20px;
    }

    .languages-list > .language-name {
        margin-right: 4px;
    }
    
    .languages-list > div {
        margin-right: 4px;
        display: inline-block;
    }

}
