    <header [class.active]="isSideResumePreviewOpened">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <h1>ResumeBook</h1>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <h2>Handle your professional skills for your resumes with one tool !</h2>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>
    
    <div class="container resume">
    
        <!--
        <div>
            <p>{{ resumeForm.value | json }}</p>
        </div>
    
        <button class="btn btn-primary" type="button" (click)="resetForm()">Reset form</button>
        -->

                <button [class.active]="isSideResumePreviewOpened" 
                        mat-fab
                        color="primary" 
                        type="button" 
                        id="side-resume-preview-button" 
                        (click)="checkedSideResumePreviewOpened()">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
                <div [class.active]="isSideResumePreviewOpened" id="div-iframe-resume-preview">
                    <iframe
                        id="iframe-resume-preview"
                        [src]= "generatedResumeUrl | safeUrl">
                    </iframe>
                </div>

                <button type="button" mat-stroked-button color="primary">
                    <label id="labelImportJSON" for="importJSON" style="margin: auto">
                        Import JSON
                        <input type="file" id="importJSON" style="display: none;" onclick="value = null" (change)="importJSON($event)">
                    </label>
                </button>

                <button type="button" mat-stroked-button color="primary" (click)="resetForm()">Clear resume</button>

                <form [class.active]="isSideResumePreviewOpened" id="resume-form" [formGroup]="resumeForm" (ngSubmit)="onSubmit()">

                    <app-header 
                        [formBuilder]="formBuilder"
                        [resumeForm]="resumeForm">
                    </app-header>
            
                    <app-experience 
                        [formBuilder]="formBuilder" 
                        [resumeForm]="resumeForm" 
                        (itemAddedEvent)="addItemToCategory($event)"
                        (itemRemovedEvent)="removeItemFromCategory($event)">
                    </app-experience>
            
                    <app-education
                        [formBuilder]="formBuilder"
                        [resumeForm]="resumeForm">
                    </app-education>
            
            
                    <app-language
                        [formBuilder]="formBuilder"
                        [resumeForm]="resumeForm">
                    </app-language>
            
                    <app-skills
                        [formBuilder]="formBuilder"
                        [resumeForm]="resumeForm"
                        (itemAddedEvent)="addItemToCategory($event)"
                        (itemRemovedEvent)="removeItemFromCategory($event)">
                    </app-skills>
            
                    <app-hobby
                        [formBuilder]="formBuilder"
                        [resumeForm]="resumeForm">
                    </app-hobby>
            
                    <button mat-stroked-button color="primary" type="submit">Generate resume</button>
                    <a mat-stroked-button color="primary" (click)="downloadResumeAsJSON()" [href]="jsonFileURL | safeUrl" download="resume.json">Export as JSON</a>
                </form>
    
    </div>
    
    <footer>
            <svg class="defs-only" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <symbol id="wave">
                  <svg viewBox="0 0 100 50" preserveAspectRatio="none" >
                      <g>
                        <path d="M100,30 Q70,40 50,30 T0,30 v20 h100Z" 
                            style="fill:#3f51b5; stroke-linejoin:round; stroke:#ffffff" stroke-width="0"/>
                      </g>
                  </svg>
                </symbol>
              </svg>
            <svg width="50" height="50" style="width: 100%; height: 350px;">
                <use xlink:href="#wave"/>
            </svg>
            <!--<p>2020 © All rights reserved.</p>-->
    </footer>
