/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; }

.mat-card {
    margin-bottom: 20px;
}

// Only works in global CSS (cause we can't normally modify .mat-card-header-text style)
.resume-content-card > .mat-card-header > .mat-card-header-text, .resume-card-title, 
.resume-card-title > .mat-form-field,
.education-card > .mat-card-content > .mat-form-field,
.experience-card > .mat-card-content > .mat-form-field,
.hobby-description,
.header-form-field
{
    width:100%;
}

.delete-item-button > .mat-button-wrapper > .mat-icon {
    vertical-align: unset !important;
}

.mat-card.mat-focus-indicator.resume-content-card {
    background-color: #FAFAFA;
}

.skillsList > .ng-star-inserted, .languagesList {
    display: inline-block;
}